<div class="card mt-3">
    <div class="p-3">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="font-weight-bold">{{ member.first_name}}{{ member.middle_name }}{{ member.last_name }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            {% if page.profile.image %}
              <img class="img-fluid z-depth-1 rounded" src="{{ member.profile.image | prepend: '/assets/img/' | relative_url }}">
            {% endif %}
        </div>
        <div class="col-sm-6 text-left text-sm-left">
            <ul>
                <li>{{ member.title}}</li>
                {% if member.website %}<li></li><i class="fas fa-home"></i><a href="{{ member.website }}">{{ member.website }}</a></li>{% endif %}
                {% if member.email %}<li><i class="fas fa-envelope-square"></i><a href="mailto:{{ member.email | encode_email }}">{{ member.email | encode_email }}</a></li>{% endif %}
                {% if member.phone %}<li><i class="fas fa-phone"></i>{{ member.phone }}</li>{% endif %}
                {% if member.orcid_id %}<li><i class="ai ai-orcid"></i><a href="https://orcid.org/{{ member.orcid_id }}" target="_blank" title="ORCID">https://orcid.org/{{ member.orcid_id }}</a></li>{% endif %}
                {% if member.scholar_userid %}<li><i class="ai ai-google-scholar-square"></i><a href="https://scholar.google.com/citations?user={{ member.scholar_userid }}" target="_blank" title="Google Scholar">https://scholar.google.com/citations?user={{ member.scholar_userid }}</a></li>{% endif %}
                {% if member.publons_id %}<li><a href="https://publons.com/a/{{ member.publons_id }}/" target="_blank" title="Publons"><i class="ai ai-publons"></i></a></li>{% endif %}
                {% if member.research_gate_profile %}<li><a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" target="_blank" title="ResearchGate"><i class="ai ai-researchgate"></i></a></li>{% endif %}
                {% if member.github_username %}<li><a href="https://github.com/{{ member.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github-square"></i></a></li>{% endif %}
                {% if member.linkedin_username %}<li><a href="https://www.linkedin.com/in/{{ member.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>{% endif %}
                {% if member.twitter_username %}<li><a href="https://twitter.com/{{ member.twitter_username }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>{% endif %}
                {% if member.medium_username %}<li><a href="https://medium.com/@{{ site.medium_username }}" target="_blank" title="Medium"><i class="fab fa-medium"></i></a></li>{% endif %}
                {% if member.quora_username %}<li><a href="https://www.quora.com/profile/{{ member.quora_username }}" target="_blank" title="Quora"><i class="fab fa-quora"></i></a></li>{% endif %}
                {% if member.blogger_url %}<li><a href="{{ site.blogger_url }}" target="_blank" title="Blogger"><i class="fab fa-blogger-b"></i></a></li>{% endif %}
                {% if member.work_url %}<li><a href="{{ site.work_url }}" target="_blank" title="Work"><i class="fas fa-briefcase"></i></a></li>{% endif %}
                {% if member.wikidata_id %}<li><a href="https://www.wikidata.org/wiki/{{ member.wikidata_id }}" target="_blank" title="Wikidata"><i class="fas fa-barcode"></i></a></li>{% endif %}
                {% if member.strava_userid %}<li><a href="https://www.strava.com/athletes/{{ member.strava_userid }}" target="_blank" title="Strava"><i class="fab fa-strava"></i></a></li>{% endif %}
                {% if member.keybase_username %}<li><a href="https://keybase.io/{{ member.keybase_username }}" target="_blank" title="Keybase"><i class="fab fa-keybase"></i></a></li>{% endif %}
                {% if member.gitlab_username %}<li><a href="https://gitlab.com/{{ member.gitlab_username }}" target="_blank" title="GitLab"><i class="fab fa-gitlab"></i></a></li>{% endif %}
                {% if member.dblp_url %}<li><a href="{{ site.dblp_url }}" target="_blank" title="DBLP"><i class="ai ai-dblp"></i></a></li>{% endif %}
            </ul>          
            
        </div>
      </div>
      <article>
        <div class="clearfix">
          {{ content }}
        </div>
      </article>
    </div>
</div>