<div class="card-item col">
  {% if writing.redirect %}
  <a href="{{ writing.redirect }}" target="_blank">
  {% else %}
  <a href="{{ writing.url | relative_url }}">
  {% endif %}
    <div class="card hoverable">
      <div class="row g-0">
        {% if writing.img %}
        <div class="card-img col-md-6">
          <img src="{{ writing.img | relative_url }}" alt="writing thumbnail">
        </div>
        <div class="col-md-6">
        {% else %}
        <div class="col-md-12">
        {% endif %}
          <div class="card-body">
            <h3 class="card-title text-lowercase">{{ writing.title }}</h3>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
